<!DOCTYPE html>
<html>
<head>
  <title>Svspel</title>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/themes/ui-lightness/jquery-ui.css" type="text/css" media="screen" title="no title" charset="utf-8">
  
  <script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAA43XsYkt7jXZslVkGc4Rt2hT73f3SFykYd1D_a_ig6xEb9hSGPxQbT5nHI96ohXbidGSZpFB3XH1gzQ"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/javascripts/json.js"></script>
  <script type="text/javascript" src="/javascripts/rails.js"></script>
  <script type="text/javascript" src="/javascripts/application.js"></script>  
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
  <name></name>
</head>
<body>

<div id="page">
 <div id="header">
	<h1>Betting Data</h1>
		<div id="menu" class="menu">
			<ul class="menu">
				<li class="not-last current_page_item"><a href="/">Home</a></li>
  			<li class="not-last current_page_item"><a href="<%= info_path %>">Info</a></li>
  			<li class="not-last current_page_item"><a href="<%= logout_path %>">Logout</a></li>
			</ul>
		</div>
	</div>
  <div class="columns">
    <div id="content" class="column">
      <%= yield %>
		</div>
	</div>
  <div id="fotter" class="">
	</div>
</div>
</body>
</html>

